{% extends 'base.html' %}

{% block content %}
{% if is_owner %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 caption1 align="center"">
            <h1>Choose from the following</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="container-fluid">
    {% if following %}
    {% for user in following %}
    <div class="row">
        <div class="col-sm-4">{{user.name}}</div>
        <div class="col-sm-4">{{user.username}}</div>
        <div class="col-sm-4"><a href="/{{username}}/list/{{list.id}}/add={{user.username}}">Add this user</a></div>
    </div>
    {% endfor %}
    {% endif %}
{% endif %}
    <div class="container-fluid">
        <div class="row">Users currently involved in this list</div>
    {% if all_users %}
    {% for cur_user in all_users %}
    <div class="row">
        <div class="col-sm-4">{{cur_user.name}}</div>
        <div class="col-sm-4">{{cur_user.username}}</div>
        {% if is_owner %}
        <div class="col-sm-4"><a href="/{{username}}/list/{{list.id}}/remove={{cur_user.username}}">Remove from list</a></div>
        {% endif %}    
    </div>
    {% endfor %}
    {% endif %}
</div>


</div>
{% endblock %}
