<html>
	<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .caption1 {
                text-align: center;
            }
			.card {
			    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			    transition: 0.3s;
			    width: 40%;
			}

			.card:hover {
			    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
			}

			.container {
			    padding: 2px 16px;
			}
        </style>
		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>ERGO</title>
		{% endif %}
	</head>

	<body>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="/user/registration">SIGN UP</a></li>
                    </ul>
                </div>
            </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
	</body>
</html>
