{% extends 'base.html' %}

{% block content %}


<div class="row"><h1>{{task.name}}</h1></div>
<div class="row"><h2>{{task.description}}</h2></div>
<div class="row">Created on {{task.create_time}}</div>
<div class="row">Created by {{username}}</div>
<div class="row">
	<div class="col-sm-4">Deadline:</div><div class="col-sm-4">{{task.deadline}}</div>
</div>
<div class="row">
	<div class="col-sm-4">Incentive:</div><div class="col-sm-4">{{task.incentive}}</div>
</div>
<div class="row">	
	<div class="col-sm-4">Start Time:</div>	
	<div class="col-sm-4">
		{% if task.start_time %}
		{{task.start_time}}
		{% else %}
		Not yet started.
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col-sm-4">Status:</div><div class="col-sm-4">{{task.status}}</div>
</div>
<div class="row">
	Are you sure you want to delete this task?
</div>
<div class="row">
<div class="col-sm-4"><a href="/{{username}}/list/{{list_id}}/task/{{task_id}}/task_deleted">Yes</a></div>
<div class="col-sm-4"><a href="/{{username}}/list/{{list_id}}/task/{{task_id}}">No</a></div>
</div>
{% endblock %}
