{% extends 'base.html' %}

{% block content %}

<div class="row">
<div class="col-sm-3"><h4>Welcome, {{ user.name }}</h4></div>
<div class="col-sm-3"></div>
<div class="col-sm-2"><a href="/{{user.username}}/newtask">New Task</a></div>
<div class="col-sm-2"><a href="/{{user.username}}/update_information">Change Information</a></div>
<div class="col-sm-2"><a href="/{{user.username}}/logout">Logout</a></div>
</div>
<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-2"><a href="/{{user.username}}/follow">Follow</a></div>
	<div class="col-sm-2"><a href="/{{user.username}}/following">Following</a></div>

</div>
<br>
<div clas="row">
	<div class="col-sm-4">
<div class="sidebar-module sidebar-module-inset">
	<h4>Search Tasks</h4>
	<form class="form-inline" method="GET" action="/{{user.username}}/search_tasks">	
		<div class="form-group">
			<input type="text" class="form-control" name="query" id="query">
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>
</div>
<div class="col-sm-4">
<div class="container row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="" action="/{{user.username}}/filter/choose" method="POST">
                {{ form.csrf_token }}
                {% from "_formhelpers.html" import render_field %}
                <div class="form-group">{{render_field(form.deadline_start, class_="form-control")}}</div>
                <div class="form-group">{{render_field(form.deadline_end, class_="form-control")}}</div>
                <div class="form-group">{{render_field(form.priority, class_="form-control")}}</div>
                <div class="form-group">{{render_field(form.status, class_="form-control")}}</div>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</div>
<br>
<div class="container-fluid"><h5><b>Your tasks</b></h5></div>
<div class="container-fluid">
{% if tasks %}
{% for task in tasks %}
<div class="row">
	<div class="col-sm-3">{{task.name}}</div>
	<div class="col-sm-3">{{task.description}}</div>
	<div class="col-sm-3">{{task.deadline}}</div>
	<div class="col-sm-2"><a href="/{{user.username}}/{{task.id}}">See More Details</a></div>

</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}
