{% extends 'base.html' %}

{% block content %}

<div class="row">
    <h1>Read Notifications</h1>
</div>

{% if notifs %}
    {% for notif in notifs %}
    <div class="row">
        <div class="col-sm-9">
            {% if notif.typ == 'Shared' %}
            <a href="/{{user.username}}/friend_profile/{{notif.second_username}}">{{notif.second_username}}</a> shared a list with you.
            {% endif %}
            {% if notif.typ == 'Accepted' %}
            <a href="/{{user.username}}/friend_profile/{{notif.second_username}}">{{notif.second_username}}</a> has accepted your friend request.
            {% endif %}
            {% if notif.typ == 'Request' %}
            <a href="/{{user.username}}/friend_profile/{{notif.second_username}}">{{notif.second_username}}</a> sent you a friend request.
            {% endif %}
            {% if notif.typ == 'Message' %}
            <a href="/{{user.username}}/friend_profile/{{notif.second_username}}">{{notif.second_username}}</a> sent you a message.
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endif %}

<hr>
<div class="row">
    <a href="/{{user.username}}/home">Go back to home</a>
</div>

{% endblock %}
