{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-8">

<div><h2> Your messages with <a href="/{{user.username}}/friend_profile/{{friend.username}}">{{friend.name}}</a></h2></div>
{% if messages %}
{% for message in messages %}

	{% if message.from_username == user.username %}
	<div class="row" style="background-color:#c1f7f3; color:black">
	<div class="col-sm-6" ></div>
	<div class="col-sm-6" style="text-align:right;">You : {{message.content}}</div>
	</div>
	{% endif %}
	{% if message.from_username == friend.username %}
	<div class="row" style="background-color:#a5e8e3; color:black">
	<div class="col-sm-6">
		<a href="{{user.userrname}}/friend_profile/{{friend.username}}">{{friend.username}}</a> : {{message.content}}
	</div>
	<div class="col-sm-6"></div>
	</div>
	{% endif %}
{% endfor %}
{% endif %}
<div class="container">
    <form class="" action="/{{user.username}}/messages/{{friend.username}}" method="POST">
            {{ form.csrf_token }}
            {% from "_formhelpers.html" import render_field %}
            <div class="form-group">{{render_field(form.content, class_="form-control")}}</div>
            <input type="submit" value="Send message">
    </form>
</div>
</div>
<div class="col-sm-4">
	</div>
</div>


{% endblock %}
