{% extends 'base.html' %}

{% block content %}

<div class="row"><h1>{{list.name}}</h1></div>
<div class="row"><h2>{{list.description}}</h2></div>
<div class="row">Created on {{list.create_time}}</div>
<div class="row">Created by <a href="/{{user.username}}/friend_profile/{{creater.username}}">{{creater.name}}</a></div>
<div>
    <div class="row">
        <div class="col-sm-10">
    <div class="container-fluid"><h5><b>Your tasks</b></h5></div>
    <div class="container-fluid">
        {% if tasks %}
        {% for task in tasks %}
        <div class="row">
            <div class="col-sm-1">{{task.name}}</div>
            <div class="col-sm-3">{{task.description}}</div>
            <div class="col-sm-2">{{task.deadline}}</div>
            <div class="col-sm-3"><a href="/{{user.username}}/list/{{list.id}}/task/{{task.id}}">See More Details</a></div>
            {% if task.status != 'Completed' %}
            <div class="col-sm-3"><a href="/{{user.username}}/list/{{list.id}}/task/mark_complete={{task.id}}">Mark as Complete</a></div>
            {% else %}
            <div class="col-sm-3">Completed</div>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
<div class="col-sm-2">
    <form class="" action="/{{user.username}}/list/{{list.id}}" method="POST">
            {{ sort_form.csrf_token }}
            {% from "_formhelpers.html" import render_field %}
            <div class="form-group">{{render_field(sort_form.criteria, class_="form-control")}}</div>
            <input type="submit" value="Sort">
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3"><a href="/{{user.username}}/list/{{list.id}}/list_update">Edit</a></div>
    {% if is_owner %}
    <div class="col-sm-3"><a href="/{{user.username}}/list/{{list.id}}/delete">Delete</a></div>
    {% endif %}
    <div class="col-sm-3"><a href="/{{user.username}}/list/{{list.id}}/newtask">Add Task</a></div>
</div>
<div class="row">
    <a href="/{{user.username}}/list/{{list.id}}/see_shared">See other users.</a>
</div>
<div class="row">
    <a href="/{{user.username}}/list/{{list.id}}/comments">See comments</a>
</div>
{% endblock %}
