{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 caption1 align="center"">
            <h1>{{current_task.name}}</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="container-fluid">
    {% if alltasks %}
    {% for task in alltasks %}
    <div class="row">
    	<div class="col-sm-6">{{task.name}}</div>
        <div class="col-sm-6"><a href="/{{username}}/list/{{list_id}}/task/{{task_id}}/add_dep={{task.id}}">Add Dependency</a>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 caption1 align="center"">
            <h1>Dependent Tasks</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="container-fluid">
    {% if deptask %}
    {% for t in deptask %}
    <div class="row">
        <div class="col-sm-6">{{t.name}}</div>
        <div class="col-sm-6"><a href="/{{username}}/list/{{list_id}}/task/{{task_id}}/remove_dep={{t.id}}">Remove Dependancy</a>
    </div>
    {% endfor %}
    {% endif %}

</div>
</div>
{% endblock %}
